<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Infos API</a>
        <ul>
            <li><a href="/countrys">Countries</a></li>
            <li><a href="/countrys/new">Add Country</a></li>
            <li><a href="/infos">Information</a></li>
            <li><a href="/infos/new">Add Country Info</a></li>
        </ul>
    </nav>
</header>